<img src="logo.png" alt="Logo da Empresa" class="logo" />
<div class="home-container">
    <h1>Bem-vindo à Folix</h1>
    
    <div *ngIf="produtos.length > 0">
        <h2>Produtos Disponíveis</h2>
        <ul>
            <li *ngFor="let produto of produtos">
                <img [src]="'data:image/png;base64,' + produto.imagemBase64" alt="{{ produto.nomeProduto }}" class="produto-imagem">
                <h3>{{ produto.nomeProduto }}</h3>
                <p>R$ {{ produto.valorKg | number: '1.2-2' }} por Kg</p>
                <button (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</button>
            </li>
        </ul>
    </div>

    <div *ngIf="produtos.length === 0">
        <p>Nenhum produto disponível no momento.</p>
    </div>
    
    <button (click)="voltar()">Voltar</button>
    <button (click)="verCarrinho()">Ver Meu Carrinho</button>
    
    <!-- Botão Sobre Nós -->
    <button (click)="mostrarSobreNos()">Sobre nós</button>
    
    <!-- Seção Sobre Nós -->
    <div *ngIf="exibirSobreNos" class="sobre-nos">
        <h2>Sobre Nós</h2>
        <p>A Startup FOLIX está no mercado de tecnologia alimentícia desde 2023 e surgiu de uma necessidade socioambiental para o cuidado, tanto com o meio ambiente quanto com as famílias que diariamente consomem produtos naturais.</p>
        <p>Desde o início deste ano, nossa equipe vem realizando testes e melhorias no sistema de Segurança Alimentar e E-commerce para gerar as melhores experiências para os nossos usuários.</p>
        
        <h3>O que é Segurança Alimentar?</h3>
        <p>Para a FOLIX, Segurança Alimentar é uma parte crucial do desenvolvimento de qualquer produto alimentício. Sendo assim, nós combinamos tecnologia de última geração com os melhores profissionais e fornecedores do mercado para garantir produtos de qualidade da fazenda até a sua casa. Importante dizer também que NÃO utilizamos nenhum tipo de agrotóxico prejudicial à saúde! Como? Com a junção das nossas estufas que imitam as condições naturais das plantas, e uma cuidadosa seleção de fertilizantes, solos especiais e até sementes, a FOLIX consegue dispensar várias das técnicas antigas de plantio e substituir por formas ambientalmente seguras e ecológicas.</p>
        
        <h3>O que é uma Fazenda Urbana?</h3>
        <p>A Fazenda Urbana FOLIX é uma estrutura inaugurada no meio deste ano que serve os mesmos propósitos de uma fazenda agricultora, mas com o "twist" de estar localizada no meio da grande São Paulo. Nossa Fazenda Urbana conta com os melhores profissionais e as melhores tecnologias da área se destacando das outras empresas.</p>
        
        <h3>Quem nós somos?</h3>
        <p>Somos uma empresa ligada à tecnologia pelo nosso cerne, estudando e pondo em prática todos os recursos adequados para a melhoria da saúde pública por meio de produtos naturais e frescos. Conheça os nossos Analistas e Desenvolvedores:</p>
        <ul>
            <li>Filipe Hideki Kwang - Gerente de projetos e DBA</li>
            <li>Breno Miguel Lima - Analista de sistemas Web e BackEnd</li>
            <li>Henrique Farias Teixeira - Desenvolvedor Desktop e FrontEnd</li>
            <li>Davison Gonçalves da Silva - Analista de projetos e Consultor ERP</li>
        </ul>
    </div>
</div>
