<h2>Cadastro</h2>
<form (ngSubmit)="onSubmit()">
  <label for="nomeCompleto">Nome Completo:</label>
  <input type="text" id="nomeCompleto" [(ngModel)]="usuario.nomeCompleto" name="nomeCompleto" required>

  <label for="idade">Idade:</label>
  <input type="number" id="idade" [(ngModel)]="usuario.idade" name="idade" required>

  <label for="email">Email:</label>
  <input type="email" id="email" [(ngModel)]="usuario.email" name="email" required>

  <label for="telefone">Telefone:</label>
  <input type="number" id="telefone" [(ngModel)]="usuario.telefone" name="telefone" required>

  <label for="cpf">CPF:</label>
  <input type="number" id="cpf" [(ngModel)]="usuario.cpf" name="cpf" required>

  <label for="senha">Senha:</label>
  <input type="password" id="senha" [(ngModel)]="usuario.senha" name="senha" required>

  <button type="submit">Cadastrar</button>
</form>
<a routerLink="/">Voltar</a>
