<div class="carrinho-container">
    <h2>Meu Carrinho</h2>

   
    <div *ngIf="produtosCarrinho.length > 0">
        <ul class="lista-produtos">
            <li *ngFor="let produto of produtosCarrinho" class="produto-item">
                <span class="produto-nome">{{ produto.nomeProduto }}</span> - 
                <span class="produto-quantidade">{{ produto.quantidadeProduto }} Kg</span> - 
                <span class="produto-valor">R$ {{ produto.valorKg | number: '1.2-2' }} por Kg</span>
                <strong class="produto-subtotal">(Subtotal: R$ {{ (produto.valorKg * produto.quantidadeProduto) | number: '1.2-2' }})</strong>
                <button class="btn-remover" (click)="removerProduto(produto)">Remover</button>
            </li>
        </ul>

      
        <div class="total-container">
            <p>Total: <strong>R$ {{ total | number: '1.2-2' }}</strong></p>
        </div>

      
        <button class="btn btn-success finalizar-compra" (click)="comprarProduto()">Comprar</button>
    </div>

   
    <div *ngIf="produtosCarrinho.length === 0">
        <p>Seu carrinho está vazio.</p>
    </div>

  
    <button class="btn btn-primary voltar" (click)="voltarParaHome()">Voltar</button>
</div>
